html, body{
  height:100%;
}

body{
  overflow-x: hidden;
}

.fluid{
  max-width:1200px;
  position:relative;
  z-index:3;
  margin:auto;
}

.container{
  height:100%;
}

@import url(https://fonts.googleapis.com/css?family=Merriweather);

.wrapper{
  /*padding-left:20px;
  padding-right:20px;
  padding-top:50px;*/
  height:100%;
}

.banniere{
  position:relative;
  z-index:2;
  background:url(../../images/banniere.jpg) center 0 no-repeat;
  width:100%;
  height:100%;
  background-size:cover;
  display:flex;

  .slider-texte{
    margin:auto;
    width:100%;
    text-align:center;

    #owl-carousel{
      font-family: "Merriweather", sans-serif;
      color:white;
      text-shadow: 0px 0px 5px rgba(0,0,0,0.3);
      font-size:5rem;
    }

    .slogan{
      font-family: "Raleway", helvetica, sans-serif;
      text-transform: uppercase;
      color:white;
      margin-top:10px;
      letter-spacing:2px;
    }

    .socialmedia{
      margin-top:10px;
      color:white;

      ul{

        li{
          background:rgba(0,0,0,0.2);
          width:40px;
          height:40px;
          border-radius:50%;
          margin-left:10px;
          margin-right:10px;
          display:inline-block;
          position:relative;
          transition:0.5s;

          &:hover{
            background:rgba(0,0,0,0.5);
          }

          a{
            color:inherit;
            display:flex;
            position:absolute;
            width:100%;
            height:100%;

            i{
              margin:auto;
            }
          }
        }
      }
    }
  }
}

.wrapper-in{

  .symbol{
    width:100%;

    .compz{
      //background:rgba(0,0,0,0.4);
      position:relative;

      .nineteen{
        font-family: "Raleway";
        font-size:24px;
        text-align:right;
        margin-bottom:25px;
        padding:10px 70px 10px 10px;
        //background:rgba(0,0,0,0.4);

        .image{
          position:absolute;
          right:0;
          top:0;
          bottom:0;
          margin:auto;

          img{
            width:50px;
            height:auto;
          }
        }
      }
    }
  }

  .aboutme{
    //border-top:1px solid #cecece;
    padding-top:50px;
    padding-bottom:50px;
    background:url(../../images/symbol.jpg) right fixed;
    background-repeat:no-repeat;
    position:relative;
    background-color:white;
    z-index:1;

    .degrade{
      background:linear-gradient(to top, rgba(255,255,255,0), rgba(255,255,255,1));
      z-index:1;
      height:120px;
      width:100%;
      position:absolute;
      top:0;
      left:0;
    }

    article{

      h3{
        text-transform:uppercase;
        margin:0;padding:0;
      }

      hr{
        height:2px;
        margin:30px 0px 30px 0px;
        background:black;
        border:0;
        width:80%;
      }
    }
  }
}

.title-creations{
  margin-bottom:50px;
  .title{
    //margin-bottom:150px;
  }

  .description{
    width:50%;
    text-align: center;
    margin:auto;
  }

  h3{
    text-transform: uppercase;
    text-align: center;
  }

  hr{
    padding:0;
    width:200px;
    height:2px;
    background:black;
    border:0;
    margin:30px auto 30px auto;
  }
}

.creations{
  position:relative;
  padding-bottom:100px;

  .all{
    text-align: center;
    
    a{
      display:block;
    }
  }

  .liked{
    text-align:center;

    .contact-button{
      display:block;
    }
  }

  .texte{
    position:absolute;
    top:100px;
    left:0;
    margin:auto;
    width:100%;

    .content{
      color:#b4b4b4;
      margin:20px 0px 20px 0px;
      font-family: "Raleway";
      //display:none;
    }

    .bouton{
      width:60%;
      margin-right:20px;
      margin-left:auto;
      text-align:center;
      box-shadow:10px 10px 15px rgba(0,0,0,0.05);
      padding:15px;
      font-family: "Raleway";
      text-transform: uppercase;
      position:relative;
      z-index:2;
      background:white;
    }

    h2{
      padding:15px;
      //box-shadow:0px 0px 10px rgba(0,0,0,0.1);
      color:white;
      position:relative;
      z-index:1;
      font-family: "Raleway";
      //font-variant: small-caps;
      text-transform: uppercase;
      text-shadow:0px 0px 5px rgba(0,0,0,0.3);
      //border:2px solid white;
      //background:rgba(255,255,255,1)
    }

    .title{
      text-align:left;
    }
  }

  .in-creations{

    .border{
      border-top:1px solid #dbdbdb;
      border-bottom:1px solid #dbdbdb;
      padding-top:50px;
      padding-bottom:50px;
    }

    margin-bottom:50px;
    position:relative;
  }

  .image{
    background-size:cover;
    height:350px;
    box-shadow:0px 0px 15px rgba(0,0,0,0.2);
    //border-radius:3px;
  }
}

.plusplus{
  color:#cecece;
  padding:15px;
  border-top:1px solid #f0f0f0;
  border-bottom:1px solid #f0f0f0;
  font-family: "Raleway";
  text-align: center;
  margin-bottom:100px;
  box-shadow:0px 5px 10px rgba(0,0,0,0.05);
}

.in-footer{
  padding-top:50px;
  height:600px;
  width:100%;
  background:#282828;
  transform-origin: top right;
  //transform:skewY(-3deg);
  display:flex;

  .in{
    margin:auto;
    //transform:skewY(3deg);
    color:white;
    width:50%;

    h3{
      font-family: "Raleway";
      text-align: center;
    }

    hr{
      height:2px;
      border:0;
      background:#FFF;
      width:50%;
    }

    p{
      text-align:center;
    }

    input{
      background:#373737;
      border:0;
      box-shadow:0px 0px 0px;
      font-size:14px;

      &:focus{
        color:#CCC;
        box-shadow:0px 0px 0px;
      }

      &:active{
        box-shadow: 0px 0px 0px;
      }
    }

    textarea{
      height:150px;
      background:#373737;
      border:0;
      color:#CCC;

      &:focus{
        box-shadow:0px 0px 0px;
        border:0;
      }
    }

    .wpcf7-submit{
      @extend .button;
      width:100%;
    }
  }
}

.in-footer-bottom{
  height:200px;
  width:100%;
  margin-top:-100px;
  background:#282828;
}

.in-footer-two{
  height:200px;
  width:100%;
  background:#222222;
  display:flex;

  .in{
    margin:auto;
    text-align:center;
    color:white;
  }
}
