::-webkit-scrollbar {
    display: none;
}

.wrapper{
    padding:40px;
    position:relative;

    .wrappertopandbottom{
        width:100vw;
        height:100vh;
        position:fixed;
        z-index:999;
        top:0;
        left:0;

        .top{
            height:40px;
            width:100vw;
            background:white;
            position:absolute;
            top:0;
            left:0;
        }

        .bottom{
            height:40px;
            width:100vw;
            background:white;
            position:absolute;
            bottom:0;
            left:0;
        }
    }
}

.page-error{

    h1{
        text-transform: uppercase;

        .red{
            color:$primary-color;
        }
    }

  background:white;
  position:absolute;
  height:100vh;
  text-align: center;
  width:100vw;
  top:0;
  left:0;
  display:flex;

  .in{
    margin:auto;

    .backlink{
      display:block;
    }
  }
}

.fullwidth {
   min-width: 100%;
   margin-left: auto;
   margin-right: auto;
   max-width: initial;
}

.custom-button{
    @extend .button;
    border:0px solid black !important;
    font-family:'Montserrat' !important;
    background:transparent !important;
    text-transform: uppercase;
    color:black !important;

    &:hover{
        color:black !important;
    }

    &:before{
        background:black !important;
    }
}

.fixednav{
    position:fixed;
    top:-80px;
    background:#272727;
    z-index:999;
    width:100%;
    display:flex;
    padding-top:20px;
    padding-bottom:20px;
    padding-right:50px;
    transition:0.3s;
    opacity:0;

    .tiw{
        position:absolute;
        left:10px;
        top:17px;
        font-family: "Montserrat";
        color:white;
        text-transform: uppercase;
    }

    @include breakpoint(small down){
        display:none;
    }

    .active{
        background:transparent !important;

        a{
            background:transparent !important;
        }
    }

    .menu-customnav-container{
        margin-left:auto;

        #menu-customnav{
            margin:auto;

            li{

                a{
                    text-transform: uppercase;
                    font-family:"Montserrat";
                    padding:0;
                    margin:0px 15px;
                }
            }
        }
    }
}

.customheader{
    height:100%;
    width:100%;
    opacity:0;
    position:relative;

    @include breakpoint(small down) {
        display:none;
    }

    .inslide{
        background-size:cover;
        transition:0.5s;
        background-position:center;
        filter: grayscale(100%);
        width:100vw;
        height:100vh;
        opacity:0.3;
    }

    .logosvg{
        background-image:url(../../images/forme.svg);
        background-size:cover;
        background-position:center;
        width:100%;
        height:100%;
        position:absolute;
        top:0;
        left:0;
        z-index:20;
    }

    .logosvgroue{
        background-image:url(../../images/forme2.svg);
        background-size:cover;
        background-position:center;
        width:100%;
        height:100%;
        position:absolute;
        top:0;
        left:0;
        z-index:20;
    }

    .name{
        position:absolute;
        left:0px;
        top:0px;
        z-index:40;
        width:50%;
        height:100%;
        //padding-top:50px;
        //padding-left:50px;

        .others{
            display:none;
            ul{
                display:flex;
                margin:0;

                li{
                    list-style-type: none;
                    margin-right:20px;
                    display:block;
                    width:90px;

                    .icon{
                        text-align: center;
                        height:40px;
                        width:40px;
                        display:flex;
                        border:2px solid #CCC;
                        border-radius:50%;
                        //margin:auto;

                        i{
                            margin:auto;
                        }
                    }

                    a{
                        display:block;
                        color:black;
                        //transform:rotate(90deg);
                        //transform-origin: left;
                    }
                }
            }
        }

        .social{
            position:absolute;
            top:50px;
            right:30px;

            @include breakpoint(medium down) {
                position:relative;
                top:10px;
                right:0;
                left:40px;
            }

            ul{
                margin:0;

                li{
                    display:inline-block;
                    margin-left:15px;
                    margin-right:15px;

                    a{
                        i{

                        }
                    }
                }
            }
        }

        .other{
            font-family: "Montserrat";
            text-transform:uppercase;
            letter-spacing:2px;
            position:absolute;
            top:20px;
            right:10px;
            display:none;

            ul{
                margin:0;

                li{
                    list-style-type: none;
                    margin-bottom:15px;
                    display:flex;
                    transform:rotateY(180deg);

                    .icon{
                        border:2px solid lighten(#CCC,11%);
                        height:40px;
                        width:40px;
                        border-radius:50%;
                        display:flex;

                        i{
                            margin:auto;
                            color:lighten(#CCC,11%);
                            transition:0.3s;
                        }
                    }

                    a{
                        transform:rotateY(180deg);
                        display:block;
                        margin-top:6px;
                        margin-left:20px;
                        color:#666;
                        transition:0.3s;

                        &:hover{
                            color:lighten(#666, 15%);
                        }
                    }
                }
            }
        }

        .slogan{
            font-size:18px;
            padding:30px 0px 0px 30px;

            .whois{
                margin-bottom:5px !important;
                margin-left:8px;
                padding:7px 10px !important;
                font-size:14px;
                font-family: "montserrat";
                transition: 0.2s;
                background:$primary-color;
                color: #FFF;
                border-radius: 3px;

                &:hover{
                    background:lighten($primary-color, 10%);
                    color:white;

                }
            }

            h2{
                font-family: "Oswald";
                text-transform:uppercase;
                font-size:22px;
                position:relative;

                i{
                    margin-left:13px;
                    position:relative;
                    top:-2px;
                }
            }

            hr{
                border:0;
                background:black;
                height:2px;
                width:50px;
                margin-right:auto;
                margin-left:0;
                margin-top:0;
                margin-bottom:10px;
            }

            ul{
                margin:0px 0px 10px 0px;

                li{
                    list-style-type: none;
                    font-family: "Roboto";
                    font-size:14px;
                }
            }
        }

        .lastcrea{
            position:absolute;
            left:0;
            bottom:0;
            width:100%;
            padding:5px;

            .active{
                opacity:1 !important;
                pointer-events:none;
                margin-left:0 !important;
            }

            .crea{
                margin-bottom:5px;
                padding:10px 0px;
                display:block;
                color:black;
                opacity:0.4;
                transition: 0.3s;
                margin-left:0;
                //background:rgba(255,255,255,0.7);

                &:hover{
                    opacity:1;
                    margin-left:20px;
                }

                .home-image-crea{
                    background-size:cover;
                    background-position:center;
                    height:100px;
                    width:100%;
                    position:relative;

                    .arrowsee{
                        position:absolute;
                        top:0;
                        left:-60px;
                        bottom:0;
                        display:flex;
                        transition:0.3s;
                        opacity:0;

                        i{
                            margin:auto;
                        }
                    }
                }

                .home-texte-crea{
                    display:flex;
                    height:100%;

                    .in{
                        margin:auto;
                        width:100%;

                        .home-crea-title{
                            font-family:"Montserrat";
                            font-size:18px;
                            //text-transform: uppercase;
                            letter-spacing: 0px;
                        }

                        .texte{
                            display:none;
                        }
                    }
                }
            }
        }
    }

    .groszoom{
        transition:0.3s;
        width:50%;
        position:absolute;
        top:0;
        right:0;
        background:white;
        z-index:30;
        height:100%;
        //border-left:1px solid white;
        //box-shadow:0px 0px 20px rgba(255,255,255,0.5);
        //border-left:5px solid white;

        #zooms{
            background-size:cover;
            height:100%;
            width:100%;
            background-position:center;
            overflow:hidden;

            .item{
                height:100%;
                width:100%;
                overflow:hidden;

                .ins{
                    background-size:cover;
                    height:100vh;
                    width:100%;
                    background-position:center;
                    display:flex;
                    overflow:hidden;

                    .fade{
                        height:50%;
                        margin-top:auto;
                        background:linear-gradient(to top, rgba(0,0,0,0.8), rgba(0,0,0,0));
                        display:flex;

                        .content-slide{
                            margin-top:auto;
                            margin-bottom:50px;
                            width:100%;
                            padding:20px;
                            margin-left:auto;
                            margin-right:auto;
                            opacity:0;
                            transition:0.3s;

                            hr{
                                border:0;
                                background:white;
                                height:5px;
                                max-width:100px;
                                margin-right:auto;
                                margin-left:0;
                            }

                            .custom-button-white{
                                color:white;
                                padding-bottom:5px;
                                text-transform: uppercase;
                                font-family:"Montserrat";
                                position:relative;

                                i{
                                    margin-left:40px;
                                }

                                &:hover{

                                }

                                &:before{
                                    background:white;
                                }
                            }

                            .in{
                                color:white;

                                .titleslide{
                                    text-transform: uppercase;
                                    font-family:"Oswald";
                                }
                            }
                        }
                    }
                }
            }

            .fade{
                width:100%;
                height:100%;
                background:rgba(0,0,0,0);
                //box-shadow:0px 0px 10px rgba(0,0,0,0.5);
            }
        }
    }
}

.seemore{
    position:absolute;
    width:50px;
    height:50px;
    background:white;
    display:flex;
    left:0;
    right:0;
    margin:auto;
    bottom:20px;
    z-index:40;
    border-radius: 50%;

    a{
        display:flex;
        height:100%;
        width:100%;

        i{
            margin:auto;
            color:#CCC;
            transition:0.5s;
        }

        &:hover{

            i{
                color:black;
            }
        }
    }
}

.loader{
    position:fixed;
    width:100%;
    height:100%;
    background:white;
    z-index:999;
    top:0;
    left:0;
    display:flex;
    pointer-events: none;

    .in{
        margin:auto;

        .titre{
            font-family: "Oswald";
            color:black;
            text-transform: uppercase;
            text-align: center;
            margin:auto;
            padding-bottom:30px;

            .red{
                color:$primary-color;
            }
        }

        .loading{
            animation: rotate 1s infinite linear;
            width:50px;
            height:50px;
            border-left:2px solid $primary-color;
            border-radius: 50%;
            border-right:2px solid black;
            margin:auto;
        }
    }
}

.text-see{
    position:absolute;
    bottom:20px;
    right:-10%;
    z-index:50;
    text-transform: uppercase;
    transition:0.5s;
    opacity:0;
    color:white;
    font-weight: bold;
}

.customcontent{
    height:100%;
    width:100%;
}

.burgermenu{
    position:absolute;
    right:20px;
    top:20px;
    opacity:0.5;
}

.customize{
    transform:rotate(360deg);
    transition:1.5s;
}
