.navtopz{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    z-index:800;
    height:60px;
    display:flex;
    background:rgba(255,255,255,0.9);
    //box-shadow:0px 0px 10px rgba(0,0,0,0.2);
    opacity:0;
    transition:0.5s;
    pointer-events: none;

    @include breakpoint(small down){
        display: none;
    }

    .menu-customnav-container{
        margin:auto;

        ul{

            .active{
                a{
                    background:transparent;
                    color:$primary-color;
                }
            }

            li{
                a{
                    font-family: "Oswald";
                    text-transform: uppercase;
                    color:black;

                    &:hover{
                        color:$primary-color;
                    }
                }
            }
        }
    }
}

.hiddedmenu{
    position:fixed;
    top:0;
    left:-100%;
    width:400px;
    height:100vh;
    background:white;
    z-index:800;
    display:flex;
    transition: 0.5s;

    .close{
        position:absolute;
        top:60px;
        right:20px;
        display: block;
        color:black;

        &:hover{
            i{
                color:$primary-color;
            }
        }

        i{
            color:black;
        }
    }

    .flexed{
        margin:auto;
        text-align: center;
        opacity: 0;

        .menu-customnav-container{
            ul{

                .active{

                    a{
                        border-radius: 3px !important;
                    }
                }

                li{
                    display:block;

                    a{
                        text-transform: uppercase;
                        font-family:"Oswald";
                    }
                }
            }
        }
    }
}
