.presentation{
    min-height:100vh;

    .aboutme{
        padding-top:50px;
        padding-bottom:50px;
        color:white;
        background:#1d1d1d;
        text-align: center;

        .in{
            max-width:1200px;
            margin:auto;
            padding:15px;

            h4{
                text-transform: uppercase;
            }

            hr{
                width:30px;
                border:0;
                height:3px;
                background:white;
            }
        }
    }

    .zer{
        //background:#f7f4f2;
        //border-top:1px solid #CCC;
        padding-bottom:60px;
    }

    .formation{
        padding-top:50px;
        padding-bottom:0px;

        .cl{
            font-family:"Montserrat";
            display:block;
        }

        .cl-cms{
            color:#1abc9c;
        }

        .cl-css{
            color:#e54d26;
        }

        .cl-web{
            color:#34495e;
        }

        .cl-js{
            color:#f39c12;
        }

        .cl-php{
            color:#2980b9;
        }

        #forma{
            margin:0;

            li{
                list-style-type: none;
                margin-bottom:25px;

                .date{
                    font-family:"Montserrat";
                }
            }
        }

        #exp{
            margin:0;
            margin-bottom:50px;

            li{
                list-style-type: none;
            }
        }

        .liste-certifs{

            .koi{
                padding-right:5px;
            }

            .iok{
                padding-left:5px;
            }

            .inliste{
                display:inline-block;
                vertical-align: top;
                width:50%;
                height:100%;
                text-align: center;
                margin-bottom:10px;

                .zoulou{
                    //background:lighten(#CCC,18%);
                    padding:20px 10px;
                    width: 100%;
                    height:100%;
                    display:flex;

                    .inzoulou{
                        margin:auto;
                        width: 100%;
                    }
                }
            }
        }

        .oc{
            display:block;
        }

        .pcertifs{
            display:block;
            background:lighten($primary-color,0%);
            position:relative;
            max-width:100%;
            text-align: center;
            margin: 20px auto 0px auto;
            border-radius: 3px;
            font-family: "Oswald";
            text-transform: uppercase;
            padding:20px;
            color:white;

            .icon{
                position:absolute;
                left:20px;
                top:0;
                bottom:0;
                display:flex;

                i{
                    color:white;
                    margin: auto;
                }
            }
        }

        .parcours{
            margin-top:30px;
            text-align: center;
            margin-bottom:50px;

            img{
                width:60%;
                margin-bottom:20px;
            }

            h3{
                font-size:20px;
                text-transform: uppercase;
            }
        }

        #langues{
            .rowcolumn{
                display: block;
                margin-bottom:30px;
            }
        }

        .certifs{
            margin:0;

            li{
                list-style-type: none;

                i{
                    margin-right:10px;
                    margin-left:10px;
                }
            }
        }

        /*hr{
            width:30px;
            border:0;
            height:3px;
            margin:10px auto 10px 0px;
            background:$primary-color;
            display: none;
        }*/hr{
            border:0;
            height:2px;
            margin:10px auto 10px 0px;
            background:lighten(#666,45%);
            display:none;
        }

        h4{
            text-transform: uppercase;
        }
    }

    .compz{
        background:$primary-color;
        padding-top:50px;
        padding-bottom:50px;
        color:white;

        .mycomp{
            ul{
                margin:0;
                padding-top:20px;

                li{
                    list-style-type: none;
                    margin-bottom:30px;

                    h5{
                        text-transform: uppercase;
                    }

                    .zeta{

                    }
                }
            }
        }

        .otherh4{
            text-transform: uppercase;
        }

        h4{
            text-transform: uppercase;
        }

        .in{
            max-width:1200px;
            margin:auto;

            .titre{
                font-size:42px;
                margin-bottom:50px;
            }

            hr{
                width:30px;
                border:0;
                height:3px;
                background:white;
                margin-left:0;
            }

            .picz{
                max-width:110px;
            }

            h6{
                text-transform: uppercase;
            }
        }
    }
}
