.customentry{
    padding:0px !important;

    .yoz{
        background-size:cover;
        height:250px;

        a{
            display:block;
            height:100%;
            width:100%;
        }
    }
}

.customsingle{
    padding:0px !important;

    ul{
        margin:0;

        li{
            list-style-type: none;
        }
    }
}

.singleimage{
    width:100%;
    height:100vh;
    transform-style: inherit;
    background-position:center;
    box-sizing: border-box;
    background-size:cover;
    position:fixed;
    top:0;
    left:0;
    z-index:10;

    .flex{
        width:100%;
        height:100%;
        display:flex;
        position:relative;

        .inas{
            margin:auto;

            .entry-title{
                text-align: center;
                font-family:"Montserrat";
                text-transform: uppercase;
                margin-top:30px;
                color:white;
                opacity:0;
            }
        }

        .scroll{
            position:absolute;
            bottom:50px;
            left:0;
            right:0;
            text-align: center;
            color:white;

            i{
                color:white;
            }
        }
    }
}

.galleryphoto{
    text-align:center;
    margin-top:50px;
    max-width:1200px;
    margin-left:auto;
    margin-right:auto;

    @include breakpoint(medium down) {
        padding:15px;
    }
}

.singlecontent{
    position:absolute;
    z-index:20;
    background:#FFF;
    margin-top:100vh;
    padding-top:50px;
    width:100%;

    .linkproject{
        text-align: center;

        a{

            i{
                margin-right:10px;
            }
        }
    }

    .caract{
        margin-top:50px;
        margin-bottom:50px;

        .carac{
            padding:20px;
            text-align: center;
        }

        .role{
            //background:lighten(#CCC, 16%);
            height:100%;
            display:flex;

            .inl{
                //margin:auto;
                margin:0 auto;

                ul{
                    li{
                        list-style-type: none;
                        display:inline-block;
                        border:1px solid black;
                        padding-left:15px;
                        margin-right:10px;
                        margin-left:10px;
                        padding-right:15px;
                        text-transform: uppercase;
                    }
                }
            }
        }

        .type{
            list-style-type: none;
            //background:lighten(#CCC, 18%);

            ul{
                margin:0;

                li{
                    list-style-type: none;
                }
            }
        }
    }

    .comeback{
        display:flex;
        color:#CCC;
        transition: 0.3s;

        &:hover{
            color:#666;

            .yes{
                border-color:darken(#666,10%);
            }
        }

        .yes{
            display:block;
            height:40px;
            width:40px;
            display:flex;
            border-radius:50%;
            border:2px solid lighten(#CCC, 10%);
            transition:0.3s;

            i{
                margin:auto;
            }
        }

        .no{
            margin-top:7px;
            margin-left:10px;
        }
    }

    .entry-content{
        padding-top:100px;
        padding-bottom:100px;
        width:100%;

        .zer{
            max-width:1200px;
            margin:auto;
            padding:20px;

            .subtitle{
                text-align:center;
            }

            hr{
                width:30px;
                height:4px;
                background:black;
                margin:auto auto 30px auto;
            }
        }
    }
}

.mix{
    transition: 0.3s;
}

.remove{
    transition:0.3s;
    opacity:0.2;
    filter:grayscale(100%);
    pointer-events: none;
}
