.customentry{
    padding:0px !important;

    .yoz{
        background-size:cover;
        height:250px;

        a{
            display:block;
            height:100%;
            width:100%;
        }
    }
}

.colored-description{
    min-height:300px;
    background:#fafafa;
    padding:50px 0px;
    position:relative;

    .sep{
        width:1px;
        height:80px;
        background:#CCC;
        position:absolute;
        margin:auto;
        left:0;
        right:0;
        bottom:-60px;
        display: block;
    }

    h2{
        text-transform: uppercase;
        font-size:22px;
        text-align: center;
    }

    .detailproject{
        color:#666;

        .titletype{
            text-transform: uppercase;
            margin-bottom:10px;
            font-weight: bold;
            font-size:20px;
            text-align: center;
        }

        .ta{
            li{
                list-style-type: none;

                i{
                    margin-right:10px;
                }
            }
        }

        .insingle{
            background:#f2f2f2;
            padding:10px;
            text-align: center;
            margin-bottom:15px;
        }
    }
}

.linknavigation{
    max-width:1200px;
    margin:auto;
    height:100px;
    display:flex;

    .icon{
        transition:0.3s;
        border:2px solid lighten(#CCC,10%);
        height:40px;
        width:40px;
        border-radius: 50%;
        display:flex;
        margin:auto 0;

        i{
            margin:auto;
            color: #CCC;
        }
    }

    .link{
        margin:auto 15px auto 15px;
    }

    .left{
        margin-right:auto;
        display:flex;
    }

    .middle{
        margin:auto;

        a{
            background:$primary-color !important;
            margin:0 !important;
            font-size:14px;
            font-family: "Montserrat";
            transition: 0.2s;
            color:#FFF;
            padding:7px 10px !important;
            border-radius: 3px;

            &:hover{
                background:lighten($primary-color, 10%);
                color:white;

            }
        }
    }

    .right{
        margin-left:auto;
        display:flex;
    }
}

.respclass{
    @include breakpoint(small down){
        margin-top:60px;
    }
}

.customsingle{
    padding:0px !important;

    ul{
        margin:0;

        li{
            list-style-type: none;
        }
    }
}

.singleimage{
    width:100%;
    height:100vh;
    background-position:center;
    background-size:cover;
    position:fixed;
    top:0;
    left:0;
    z-index:10;

    .flex{
        width:100%;
        height:100%;
        display:flex;
        position:relative;

        .inas{
            margin:auto;

            .entry-title{
                text-align: center;
                text-transform: uppercase;
                margin-top:30px;
                color:white;
                opacity:0;
                //text-shadow:0px 0px 5px rgba(0,0,0,0.8);
            }
        }

        .scroll{
            position:absolute;
            bottom:100px;
            left:0;
            right:0;
            text-align: center;
            color:white;

            i{
                color:white;
            }
        }
    }
}

.galleryphoto{
    text-align:center;
    margin-top:20px;
    max-width:1200px;
    margin-left:auto;
    margin-right:auto;

    @include breakpoint(medium down) {
        padding:15px;
    }
}

.singlecontent{
    position:relative;
    z-index:20;
    background:white;
    margin-top:100vh;
    width:100%;

    .linkproject{
        text-align: center;
        margin-bottom:30px;

        a{

            i{
                margin-right:10px;
            }
        }
    }

    .caract{
        margin-top:50px;
        margin-bottom:50px;

        .carac{
            padding:20px;
            text-align: center;
        }

        .role{
            //background:lighten(#CCC, 16%);
            height:100%;
            display:flex;

            .inl{
                //margin:auto;
                margin:0 auto;

                ul{
                    li{
                        list-style-type: none;
                        display:inline-block;
                        border:1px solid black;
                        padding-left:15px;
                        margin-right:10px;
                        margin-left:10px;
                        padding-right:15px;
                        text-transform: uppercase;
                        margin-bottom:15px;
                    }
                }
            }
        }

        .type{
            list-style-type: none;
            //background:lighten(#CCC, 18%);

            ul{
                margin:0;

                li{
                    list-style-type: none;
                }
            }
        }
    }

    .comeback{
        display:flex;
        color:#CCC;
        margin-top:20px;

        &:hover{
            color:#666;

            .yes{
                border-color:darken(#666,10%);
            }
        }

        .yes{
            display:block;
            height:40px;
            width:40px;
            display:flex;
            border-radius:50%;
            border:2px solid lighten(#CCC, 10%);

            i{
                margin:auto;
            }
        }

        .no{
            margin-top:7px;
            margin-left:10px;
        }
    }

    .entry-content{
        padding-top:10px;
        padding-bottom:100px;
        width:100%;

        .zer{
            max-width:1200px;
            margin:auto;
            padding:20px;

            .subtitle{
                text-align:center;
            }

            hr{
                width:30px;
                height:4px;
                background:black;
                margin:auto auto 30px auto;
            }
        }
    }
}

.mix{
    transition: 0.3s;
}

.remove{
    transition:0.3s;
    opacity:0.2;
    filter:grayscale(100%);
    pointer-events: none;
}
